


<div class="card" style="width: 18rem "  >
    <img *ngIf="produitCard.img != ''" mat-card-image src="{{produitCard.img}}" alt="Photo">
    <div class="card-body">
    <h6 *ngIf="produitCard.artiste"> {{produitCard.artiste}} </h6>
    <h6 *ngIf="produitCard.real"> {{produitCard.real}} </h6>
    <p class="card-text"*ngIf="produitCard.synopsis">
            {{ produitCard.synopsis }}
    </p>
        
    </div>
    
      
</div>
<a routerLink="/products" class="btn btn-primary">Retour</a>






   